body {
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

.bg-dark {
    background-color: #988f85!important;
    transition: all 1s ease;
}

nav{
    padding: 17px 0;
}

nav i{
    color: white;
}

nav i:visited{
    color: white;
    }
    
    nav i:hover{
    color: #3a3633;
    text-decoration: none;
    transition: all 0.5s ease;
    }

nav a{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 0px;
    margin: 0 40px 0 0;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}

nav a:visited{
color: white;
}

nav a:hover{
color: #3a3633;
text-decoration: none;
transition: all 0.5s ease;
}

/* Header */

.navbar__slider-img1{
    background-image: url(../img/home-slider-image-1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar__slider-img2{
    background-image: url(../img/home-slider-image-2.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar__slider-img3{
    background-image: url(../img/home-slider-image-3.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner, .carousel-item, .carousel{
    height: 100vh;
    width: 100vw;
}

.header__texto{
    text-align: center;
}

.header__texto h2 {
    margin: 0;
    padding: 0;
    /* text-transform: uppercase; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: white;
}

.header__texto span {
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.header__texto h5 {
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
}

hr{
    border: 0.5px solid white !important;
    margin: 20px 0;
    padding: 0;
}

.header__boton {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 0%;
    padding: 20px 70px;
    letter-spacing: 4px;
    background-color:#FFFFFF00;
    border: 1.5px solid white !important;
    color: white;
}

.header__boton:hover {
    background-color: #f27e88!important;
    border: 1.5px solid #f27e88!important;
    color: white;
}

/* Club del Café */

.club__paralax {
    background-image: url(../img/home-slider-image-7.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.club__imagen{
    width: 50%;
    height: 100vh;
    background-image: url(../img/home-slider-image-9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.club__texto{
    width: 50%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.club__texto h2{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 900;
    color: #111;
    letter-spacing: 2px;
    margin: 0 0 8px 0;
    padding: 0;
}

.club__texto h3{
    margin: 0 0 50px 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #111111;
    line-height: 1.2;
    line-height: 40px;
}

.club__texto p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin: 0 0 30px 0;
    padding: 0;
}

.club__texto img{
    width: 9%;
    height: auto;
    margin-top: -40px;
    opacity: 70%;
}



/* Newsletter */

#newsletter {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  #newsletter video {
    position: absolute;
    top: 70%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  #newsletter .container {
    position: relative;
    z-index: 2;
  }
  
  #newsletter .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
  }

.newsletter__bloque {
    padding: 60px 0;
    text-align: center;
    height: auto;
    width: 40%;
    background-color: white;
}

.newsletter__bloque h5 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #111111;
    line-height: 1.2;
}

.newsletter__bloque h6 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #111111;
}

.newsletter__bloque p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #111111;
}

.newsletter__boton {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 0%;
    padding: 12px 40px;
    letter-spacing: 2px;
    background-color: white;
    border: 1px solid #111 !important;
    color: #111111;
}

.newsletter__boton:hover {
    background-color: #111!important;
    border: 1px solid #111!important;
    color: white;
}

.newsletter__form{
    margin: 35px 0;
}

.newsletter__input {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 12px 50px 12px 12px;
    border-radius: 0%;
    border: 1px solid #DCDCDC!important;
    margin-right: 10px;
}

/* Footer */

footer {
    height: auto;
    background-color: #988f85;
    color: white;
    padding: 80px 0;
}

footer h6{
    font-family: 'Lato', sans-serif;
    font-size: 12.5px;
    padding: 0px;
    margin: 0 40px 15px 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

footer a{
        font-family: 'Lato', sans-serif;
        font-size: 12.5px;
        padding: 0px;
        margin: 0 40px 15px 0;
        font-weight: 400;
        color: white;
}

footer a:visited{
    color: white;
}

footer a:hover{
    color: #3a3633;
    text-decoration: none;
    transition: all 0.5s ease;
}

footer p{
    font-family: 'Lato', sans-serif;
    font-size: 12.5px;
    padding: 0px;
    margin: 0 40px 15px 0;
    font-weight: 400;
}

/* Suscripcion */

    #suscripcion {
        position: relative;
        background-color: black;
        height: 300px;
        width: 100%;
        overflow: hidden;
      }
      
      #suscripcion video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
      
      #suscripcion .container {
        position: relative;
        z-index: 2;
      }
      
      #suscripcion .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
      }

      .formulario{
          padding: 100px 270px;
      }

      .formulario input{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        padding: 30px 50px 30px 12px;
        border-radius: 0%;
        border: 1px solid #DCDCDC!important;
        margin-right: 10px;
    }

    .formulario option{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        padding: 30px 50px 30px 12px;
        border-radius: 0%;
        border: 1px solid #DCDCDC!important;
        margin-right: 10px;
    }

    .formulario select{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        padding: 30px 50px 30px 12px;
        border-radius: 0%;
        border: 1px solid #DCDCDC!important;
        margin-right: 10px;
    }

    .formulario label{
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        font-weight: 700;
        color: #111;
        letter-spacing: 2px;
    }

    .formulario__check{
        font-family: 'Lato', sans-serif!important;
        font-size: 13px!important;
        font-weight: 400!important;
        color: gray!important;
        text-transform: none!important;
        letter-spacing: 0px!important;
    }

    .formulario button{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
        border-radius: 0%;
        padding: 12px 40px;
        letter-spacing: 2px;
        background-color: white;
        border: 1px solid #111 !important;
        color: #111111;
    }

    .formulario button:hover {
        background-color: #111!important;
        border: 1px solid #111!important;
        color: white;
    }

    .formulario h2 {
        margin: 0 0 20px 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
        color: #111111;
        line-height: 1.2;
    }

    .formulario p{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        margin: 0 0 10px;
        padding: 0;
        font-weight: 400;
        color: gray;
    }

    .formulario span{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        margin: 0 0 10px;
        padding: 0;
        font-weight: 500;
        color: #111111;
    }

    .suscripcion__paralax {
        background-image: url(../img/home-slider-image-7.jpg);
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .formulario hr{
        border: 1px solid #111 !important;
        margin: 40px 0;
        padding: 0;
    }

    .margen__r{
        margin-right: 180px;
    }

    /* Como Funciona */
    .funciona{
        text-align: center;
        padding: 0 150px;
    }


    #comofunciona{
        height: auto;
    }

    #comofunciona img{
        height: 200px;
        width: auto;
    }

    #comofunciona h1{
        padding: 100px 0 0 0;
        margin:0 0 100px 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
        color: #111111;
        line-height: 1.2;
        line-height: 40px;
        text-align: center;
    }

    #comofunciona h2{
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: 900;
        color: #111;
        letter-spacing: 2px;
        line-height: 20px;
        padding: 0;
        text-align: center;
    }

    #comofunciona span{
        font-weight: 400;
    }

    #comofunciona p{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        margin: 0 0 30px 0;
        padding: 0;
    }